---
import type { GetStaticPaths } from 'astro'
import { Image } from 'astro:assets'
import { YouTube } from '@astro-community/astro-embed-youtube'
import Layout from '@layouts/Layout.astro'
import Header from '@components/ui/Header.astro'
import Footer from '@components/ui/Footer.astro'
import Paragraph from '@components/ui/Paragraph.astro'
import GallerySlider from '@components/GallerySlider.astro'
import Button from '@components/ui/Button.astro'

import { GRADUATES } from '@data/GRADUATES'

import { getPath } from '@utils/getPath'
import { getNextPath } from '@utils/getNextPath'
import { getPrevPath } from '@utils/getPrevPath'

export const getStaticPaths = (() => {
	return GRADUATES.map((graduate) => {
		return {
			params: { graduate: getPath(graduate.name) },
			props: { ...graduate }
		}
	})
}) satisfies GetStaticPaths

const {
	name,
	full_name,
	project_name,
	project_year,
	project_description,
	project_images,
	video_id
} = Astro.props
---

<Layout title={name + ' - ' + project_name}>
	<Header />
	<main
		class:list={[
			'px-4 pt-20 text-primary flex gap-10 flex-col w-full max-w-2xl relative mx-auto',
			' landscape:flex-row landscape:justify-center landscape:max-w-7xl'
		]}
	>
		<aside
			class='sticky top-4 landscape:top-10 mb-10 aspect-video w-full h-full max-w-2xl overflow-hidden rounded-2xl'
		>
			<YouTube id={video_id} class='aspect-video' />
		</aside>
		<article class='grid gap-4 h-full w-full mt-1'>
			<h1 class='font-title text-5xl font-black uppercase'>
				{full_name}
			</h1>

			<h2 class='font-title text-3xl md:text-4xl font-extralight -mt-4 mb-4 sm:-mt-5 sm:mb-5'>
				{project_name} - <span class='font-bold'>{project_year}</span>
			</h2>
			<Paragraph text={project_description} class='font-paragraph' />
			<figure class='columns-[3_125px] gap-x-4 my-8'>
				{
					project_images.map((image, i) => (
						<a
							id={`image_wrapper-${i}`}
							data-index={i}
							href='#gallery'
							class='block mb-4 rounded-xl overflow-hidden hover:outline outline-8 outline-primary transition-[outline] duration-150'
						>
							<Image
								src={image}
								alt={`Miniatura de la Lámina número ${i} del proyecto de titulación de ${name}`}
								width={200}
								class='max-w-full'
							/>
						</a>
					))
				}
			</figure>
		</article>
		<GallerySlider images={project_images} name={name} />
	</main>
	<Footer class='h-full'>
		<div class='flex items-center justify-between'>
			<Button as='a' href={getPrevPath(name)}>Ir al Anterior</Button>
			<Button as='a' href={getNextPath(name)}>Ir al Siguiente</Button>
		</div>
	</Footer>
</Layout>
