---
import { MuteButton } from './MuteButton'
import { PlayButton } from './PlayButton'
import Button from './ui/Button.astro'

interface Props {
	name: string
	projectName: string
	projectYear: string
	index: number
	total: number
}

const { name, projectName, projectYear, index, total } = Astro.props
---

<aside
	class='absolute landscape:shrink-0 landscape:relative landscape:text-primary bottom-0 w-full landscape:max-w-[24rem] h-fit landscape:h-full landscape:justify-between z-10 flex flex-col gap-4 p-4 items-end'
>
	<article class='w-full'>
		<h2 class='text-2xl xl:text-4xl xl:font-black font-semibold font-subtitle tracking-wide'>
			{name}
		</h2>
		<p class='leading-tight xl:leading-none font-paragraph font-light max-w-md'>
			{projectName} - <b>{projectYear}</b>
		</p>
	</article>
	<footer
		class='grid grid-flow-col landscape:grid-flow-row landscape:grid-rows-[1fr_auto_auto] landscape:h-full landscape:items-start items-center justify-between w-full landscape:justify-start landscape:gap-4'
	>
		<Button as='a' href='/'>Ver más</Button>
		<p class='text-lg font-paragraph font-light leading-none self-end'>
			{index} / {total}
		</p>

		<div class='flex gap-4 self-end items-center'>
			<PlayButton client:load />
			<MuteButton client:load />
		</div>
	</footer>
</aside>
