---
import type { Graduate } from '../types/graduates'
import ReelInfo from './ReelInfo.astro'
import PlayIcon from './icons/PlayIcon.astro'

interface Props {
	info: Graduate
	index: number
	total: number
}

const { info, index, total } = Astro.props
const { name, project_name, project_year, reel_id } = info
---

<section
	class:list={[
		'swiper-slide text-white bg-primary flex items-center justify-center',
		'landscape:bg-white'
	]}
>
	<div
		class:list={[
			'h-full w-fit gap-4 relative flex justify-center items-center max-w-md overflow-hidden',
			'sm:h-fit',
			'landscape:h-full landscape:max-w-full landscape:pt-24 landscape:pb-12 landscape:overflow-visible'
		]}
	>
		<section
			class:list={[
				'bg-shadow shrink-0 relative w-full h-fit overflow-hidden',
				'sm:rounded-2xl',
				'landscape:h-full landscape:w-fit landscape:shadow-lg landscape:shadow-secondary landscape:after:hidden landscape:before:hidden',
				'before:content-[""] before:absolute before:-top-px before:w-full before:h-1/4 before:bg-gradient-to-t before:from-transparent before:to-primary',
				'after:content-[""] after:absolute after:-bottom-px after:w-full after:h-1/4 after:bg-gradient-to-b after:from-transparent after:to-primary'
			]}
		>
			<video
				data-testid=`reel-${index}`
				poster={`/${reel_id}.png`}
				id={reel_id}
				class:list={['object-cover h-full w-fit aspect-[531/945] select-none ', 'sm:scale-[1.01]']}
				src={`https://vz-c38a8c7a-730.b-cdn.net/${reel_id}/play_720p.mp4`}
				loop
			>
			</video>
			<span
				aria-label='Botón de Pausado'
				class='rounded-full p-4 bg-primary bg-opacity-50 absolute left-0 right-0 m-auto top-0 bottom-0 h-fit w-fit transition-opacity duration-150'
				style='opacity: 0'
			>
				<PlayIcon size='24' />
			</span>
		</section>
		<ReelInfo
			name={name}
			projectName={project_name}
			projectYear={project_year}
			index={index}
			total={total}
			reelId={reel_id}
		/>
	</div>
</section>
