---
import { getPath } from '@utils/getPath'
import Button from './ui/Button.astro'
import TogglePlayButton from './ui/TogglePlayButton.astro'
import ToggleMuteButton from './ui/ToggleMuteButton.astro'

interface Props {
	name: string
	projectName: string
	projectYear: string
	index: number
	total: number
	reelId: string
}

const { name, projectName, projectYear, index, total, reelId } = Astro.props
---

<aside
	class:list={[
		'absolute bottom-0 w-full h-fit z-10 flex flex-col gap-4 p-4 items-end',
		'landscape:shrink-0 landscape:relative landscape:text-primary landscape:max-w-[24rem] landscape:h-full landscape:justify-between'
	]}
>
	<article class='w-full'>
		<h2
			class:list={['text-2xl font-semibold font-title tracking-wide', 'xl:text-4xl xl:font-black']}
		>
			{name}
		</h2>
		<p class:list={['leading-tight font-paragraph max-w-md', 'xl:leading-none']}>
			{projectName} - <b>{projectYear}</b>
		</p>
	</article>
	<footer
		class:list={[
			'grid grid-flow-col items-center justify-between w-full',
			'landscape:grid-flow-row landscape:grid-rows-[1fr_auto_auto] landscape:h-full landscape:items-start landscape:justify-start landscape:gap-4'
		]}
	>
		<Button as='a' color='secondary' href={`${getPath(name)}?project=${getPath(projectName)}`}>
			Ver más
		</Button>
		<p class:list={['text-lg font-paragraph font-light leading-none', 'landscape:self-end']}>
			{index} / {total}
		</p>

		<div class:list={['flex gap-4 items-center', 'landscape:self-end landscape:-ml-2']}>
			<TogglePlayButton id={reelId} />
			<ToggleMuteButton id={reelId} />
		</div>
	</footer>
</aside>
